In [ ]:
# create Python dictionary for supply info
ship_froms_supply = {'Oklahoma City, OK' : 2000, 'Boulder, CO' : 2000, 'Asheville, NC' : 2000}

# create Python dictionary for demand info
ship_tos_demand = {'Austin, TX' : 500, 'Baltimore, MD' : 300, 'Charlotte, NC' : 100, 'Chicago, IL' : 400, 
                   'Columbus, OH' : 150, 'Dallas, TX' : 500, 'Detroit, MI' : 150, 'Fort Worth, TX' : 150, 
                   'Houston, TX' : 500, 'Indianapolis, IN' : 150, 'Jacksonville, FL' : 100, 'Los Angeles, CA' : 1000, 
                   'Memphis, TN' : 200, 'New York, NY' : 500, 'Philadelphia, PA' : 250, 'Phoenix, AZ' : 150, 
                   'San Antonio, TX' : 150, 'San Diego, CA' : 300, 'San Francisco, CA' : 250, 'San Jose, CA' : 200}

In [ ]:
# test the supply dictionary
for ship_from in ship_froms_supply.keys():
    print("Supply at",ship_from,"is",ship_froms_supply[ship_from])

In [ ]:
# test the demand dictionary
for ship_to in ship_tos_demand.keys():
    print("Demand at",ship_to,"is",ship_tos_demand[ship_to])

In [ ]:
# distance dictionary, (from,to) : mileage
distance_in_miles = {
    ( 'Oklahoma City, OK', 'Fort Worth, TX') : 203,
    ( 'Oklahoma City, OK', 'Dallas, TX') : 205,
    ( 'Oklahoma City, OK', 'Austin, TX') : 388,
    ( 'Oklahoma City, OK', 'Houston, TX') : 444,
    ( 'Oklahoma City, OK', 'Memphis, TN') : 467,
    ( 'Oklahoma City, OK', 'San Antonio, TX') : 467,
    ( 'Oklahoma City, OK', 'Indianapolis, IN') : 740,
    ( 'Oklahoma City, OK', 'Chicago, IL') : 794,
    ( 'Oklahoma City, OK', 'Columbus, OH') : 916,
    ( 'Oklahoma City, OK', 'Phoenix, AZ') : 959,
    ( 'Oklahoma City, OK', 'Detroit, MI') : 1048,
    ( 'Oklahoma City, OK', 'Charlotte, NC') : 1093,
    ( 'Oklahoma City, OK', 'Jacksonville, FL') : 1194,
    ( 'Oklahoma City, OK', 'San Diego, CA') : 1312,
    ( 'Oklahoma City, OK', 'Baltimore, MD') : 1319,
    ( 'Oklahoma City, OK', 'Los Angeles, CA') : 1329,
    ( 'Oklahoma City, OK', 'Philadelphia, PA') : 1384,
    ( 'Oklahoma City, OK', 'New York, NY') : 1448,
    ( 'Oklahoma City, OK', 'San Jose, CA') : 1585,
    ( 'Oklahoma City, OK', 'San Francisco, CA') : 1626,
    ( 'Boulder, CO', 'Fort Worth, TX') : 781,
    ( 'Boulder, CO', 'Dallas, TX') : 823,
    ( 'Boulder, CO', 'Phoenix, AZ') : 833,
    ( 'Boulder, CO', 'Austin, TX') : 947,
    ( 'Boulder, CO', 'San Antonio, TX') : 960,
    ( 'Boulder, CO', 'Chicago, IL') : 1019,
    ( 'Boulder, CO', 'Los Angeles, CA') : 1028,
    ( 'Boulder, CO', 'Houston, TX') : 1057,
    ( 'Boulder, CO', 'San Diego, CA') : 1090,
    ( 'Boulder, CO', 'Indianapolis, IN') : 1104,
    ( 'Boulder, CO', 'Memphis, TN') : 1114,
    ( 'Boulder, CO', 'San Francisco, CA') : 1251,
    ( 'Boulder, CO', 'Columbus, OH') : 1281,
    ( 'Boulder, CO', 'Detroit, MI') : 1285,
    ( 'Boulder, CO', 'San Jose, CA') : 1289,
    ( 'Boulder, CO', 'Charlotte, NC') : 1583,
    ( 'Boulder, CO', 'Baltimore, MD') : 1707,
    ( 'Boulder, CO', 'Philadelphia, PA') : 1764,
    ( 'Boulder, CO', 'Jacksonville, FL') : 1768,
    ( 'Boulder, CO', 'New York, NY') : 1795,
    ( 'Asheville, NC', 'Charlotte, NC') : 130,
    ( 'Asheville, NC', 'Columbus, OH') : 392,
    ( 'Asheville, NC', 'Jacksonville, FL') : 442,
    ( 'Asheville, NC', 'Indianapolis, IN') : 470,
    ( 'Asheville, NC', 'Memphis, TN') : 505,
    ( 'Asheville, NC', 'Baltimore, MD') : 507,
    ( 'Asheville, NC', 'Philadelphia, PA') : 609,
    ( 'Asheville, NC', 'Detroit, MI') : 625,
    ( 'Asheville, NC', 'Chicago, IL') : 651,
    ( 'Asheville, NC', 'New York, NY') : 689,
    ( 'Asheville, NC', 'Dallas, TX') : 957,
    ( 'Asheville, NC', 'Fort Worth, TX') : 991,
    ( 'Asheville, NC', 'Houston, TX') : 999,
    ( 'Asheville, NC', 'Austin, TX') : 1151,
    ( 'Asheville, NC', 'San Antonio, TX') : 1197,
    ( 'Asheville, NC', 'Phoenix, AZ') : 1978,
    ( 'Asheville, NC', 'Los Angeles, CA') : 2299,
    ( 'Asheville, NC', 'San Diego, CA') : 2317,
    ( 'Asheville, NC', 'San Jose, CA') : 2560,
    ( 'Asheville, NC', 'San Francisco, CA') : 2595
}

In [ ]:
# test the distance dictionary
distance_in_miles[('Oklahoma City, OK', 'Austin, TX')]